/* Custom CSS docs.colmena.media */

/* Global customization */

:root {
  --code-max-height: 60rem;
}

/* Light mode theming */
:root,
:root[color-theme="light"] {
  --header-background: #434774;
  --header-font-color: #ffffff;

  --body-background: #ffffff;
  --body-font-color: #434774;

  --mark-color: #ffab00;

  --button-background: #62cb97;
  --button-border-color: #4ec58a;

  --link-color: #518169;
  --link-color-visited: #c54e8a;

  --code-background: #f5f6f8;
  --code-accent-color: #e3e7eb;
  --code-accent-color-lite: #eff1f3;
  --code-font-color: #5f5f5f;

  --code-copy-background: #f5f6f8;
  --code-copy-font-color: #6b7784;
  --code-copy-border-color: #adb4bc;
  --code-copy-success-color: #00c853;

  --accent-color: #e9ecef;
  --accent-color-lite: #f8f9fa;

  --control-icons: #b2bac1;

  --footer-background: #F65B3A;
  --footer-font-color: #ffffff;
  --footer-link-color: #ffcc5c;
  --footer-link-color-visited: #ffcc5c;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #434774;
    --header-font-color: #ffffff;

    --body-background: #ffffff;
    --body-font-color: #434774;

    --mark-color: #ffab00;

    --button-background: #62cb97;
    --button-border-color: #4ec58a;

    --link-color: #518169;
    --link-color-visited: #c54e8a;

    --code-background: #f5f6f8;
    --code-accent-color: #e3e7eb;
    --code-accent-color-lite: #eff1f3;
    --code-font-color: #5f5f5f;

    --code-copy-background: #f5f6f8;
    --code-copy-font-color: #6b7784;
    --code-copy-border-color: #adb4bc;
    --code-copy-success-color: #00c853;

    --accent-color: #e9ecef;
    --accent-color-lite: #f8f9fa;

    --control-icons: #b2bac1;

    --footer-background: #F65B3A;
    --footer-font-color: #ffffff;
    --footer-link-color: #ffcc5c;
    --footer-link-color-visited: #ffcc5c;
  }
}

/* Dark mode theming */
:root[color-theme="dark"] {
  --header-background: #434774;
  --header-font-color: #ffffff;

  --body-background: #343a40;
  --body-font-color: #ced3d8;

  --mark-color: #ffab00;

  --button-background: #62cb97;
  --button-border-color: #4ec58a;

  --link-color: #7ac29e;
  --link-color-visited: #c27a9e;

  --code-background: #2f353a;
  --code-accent-color: #262b2f;
  --code-accent-color-lite: #2b3035;
  --code-font-color: #b9b9b9;

  --code-copy-background: #343a40;
  --code-copy-font-color: #6b7784;
  --code-copy-border-color: #6b7784;
  --code-copy-success-color: #37905c;

  --accent-color: #2b3035;
  --accent-color-lite: #2f353a;

  --control-icons: #b2bac1;

  --footer-background: #2f333e;
  --footer-font-color: #ffffff;
  --footer-link-color: #ffcc5c;
  --footer-link-color-visited: #ffcc5c;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #434774;
    --header-font-color: #ffffff;

    --body-background: #343a40;
    --body-font-color: #ced3d8;

    --mark-color: #ffab00;

    --button-background: #62cb97;
    --button-border-color: #4ec58a;

    --link-color: #7ac29e;
    --link-color-visited: #c27a9e;

    --code-background: #2f353a;
    --code-accent-color: #262b2f;
    --code-accent-color-lite: #2b3035;
    --code-font-color: #b9b9b9;

    --code-copy-background: #343a40;
    --code-copy-font-color: #6b7784;
    --code-copy-border-color: #6b7784;
    --code-copy-success-color: #37905c;

    --accent-color: #2b3035;
    --accent-color-lite: #2f353a;

    --control-icons: #b2bac1;

    --footer-background: #2f333e;
    --footer-font-color: #ffffff;
    --footer-link-color: #ffcc5c;
    --footer-link-color-visited: #ffcc5c;
  }
}



@font-face {
 font-family: 'Nunito';
 font-style: italic;
 font-weight: 200;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiLXAHjabf.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: italic;
 font-weight: 300;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNi83AHjabf.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: italic;
 font-weight: 400;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNirXAHjabf.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: italic;
 font-weight: 500;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNin3AHjabf.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: italic;
 font-weight: 600;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNic3cHjabf.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: italic;
 font-weight: 700;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiSncHjabf.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: italic;
 font-weight: 800;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiLXcHjabf.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: italic;
 font-weight: 900;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiBHcHjabf.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: normal;
 font-weight: 200;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDDshdTQ3ig.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: normal;
 font-weight: 300;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDOUhdTQ3ig.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: normal;
 font-weight: 400;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3ig.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: normal;
 font-weight: 500;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDIkhdTQ3ig.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: normal;
 font-weight: 600;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDGUmdTQ3ig.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: normal;
 font-weight: 700;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDFwmdTQ3ig.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: normal;
 font-weight: 800;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDDsmdTQ3ig.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito';
 font-style: normal;
 font-weight: 900;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDBImdTQ3ig.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: italic;
 font-weight: 200;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe01MImSLYBIv1o4X1M8cce4GxZrY1MIVw.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: italic;
 font-weight: 300;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe01MImSLYBIv1o4X1M8cce4G3JoY1MIVw.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: italic;
 font-weight: 400;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe0oMImSLYBIv1o4X1M8cce4E9lKcw.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: italic;
 font-weight: 600;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe01MImSLYBIv1o4X1M8cce4GwZuY1MIVw.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: italic;
 font-weight: 700;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe01MImSLYBIv1o4X1M8cce4G2JvY1MIVw.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: italic;
 font-weight: 800;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe01MImSLYBIv1o4X1M8cce4G35sY1MIVw.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: italic;
 font-weight: 900;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe01MImSLYBIv1o4X1M8cce4G1ptY1MIVw.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: normal;
 font-weight: 200;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc9yAs5tU1Q.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: normal;
 font-weight: 300;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc8WAc5tU1Q.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: normal;
 font-weight: 400;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: normal;
 font-weight: 600;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc9iB85tU1Q.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: normal;
 font-weight: 700;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc8GBs5tU1Q.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: normal;
 font-weight: 800;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc8aBc5tU1Q.ttf) format('truetype');
}
@font-face {
 font-family: 'Nunito Sans';
 font-style: normal;
 font-weight: 900;
 font-display: swap;
 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc8-BM5tU1Q.ttf) format('truetype');
}



body {
    font-family: "Nunito",sans-serif;
}


.gdoc-header {
    font-family: "Nunito",sans-serif;
}

.buttom-custom {
background: #f65b3a !important;
color: #FFFFFF !important;
}
